body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 14px;
    background-color: #F1F1F1; /* Fond Gris Clair */
    background-size: cover;
    background-repeat: no-repeat;
}

/* ... Vos autres styles restent inchangés ... */

/* Styles avec la palette de couleurs 1 */
nav {
    width: 100%;
    background-color: #FF6F61; /* Rouge Corail */
    height: 20px;
    border: 4px solid #4CAF50; /* Vert Émeraude */
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

nav a {
    text-decoration: none;
    padding: 0 15px;
    color: #333333; /* Gris Foncé */
    text-transform: uppercase;
    font-size: 15px;
}

nav li:hover {
    background-color: #ECF0F1; /* Gris Bleuté */
    border-radius: 3px;
}

.cont .btn-cont {
    color: #333333; /* Gris Foncé */
    background-color: #FF6F61; /* Rouge Corail */
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
}

input[type="submit"] {
    position: relative;
    left: -5px;
    border-radius: 0 25px 25px 0;
    width: 85px;
    height: 40px;
    border: solid #4CAF50; /* Vert Émeraude */
    outline: none;
    cursor: pointer;
    background: #4CAF50; /* Vert Émeraude */
    color: #FFD700; /* Or */
    font-size: 15px;
}

input[type="submit"]:hover {
    color: #FFFFFF; /* Blanc */
}

input[type="text"]:hover {
    background: #FFD700; /* Or */
}

footer {
    height: 80px;
    padding: 30px;
    text-align: center;
    background-color: #EAEDED; /* Gris Clair */
    border-top: 5px solid #8E44AD; /* Violet */
}

/* ... Le reste de vos styles reste inchangé ... */
